[mgr]
ratio = [1, 3, 4]
sort_by = "natural"

[preview]
max_width = 1000
max_height = 1000

[opener]
edit = [
	{ run = "${EDITOR:-vi} %s", desc = "Editor", block = true, for = "unix" },
	{ run = "%EDITOR% %s", desc = "Editor", block = true, for = "windows" },
]
mpv = [
	{ run = "mpv %s", desc = "Mpv", orphan = true, for = "unix" },
	{ run = "mpv %s", desc = "Mpv", orphan = true, for = "windows" },
]

[open]
prepend_rules = [{ mime = "{audio,video}/*", use = ["mpv", "play", "reveal"] }]

[[plugin.prepend_fetchers]]
id = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
url = "*/"
run = "git"
