[mgr]
ratio = [1, 3, 4]
sort_by = "natural"

[preview]
max_width = 1000
max_height = 1000

[opener]
edit = [
	{ run = '${EDITOR:-vi} "$@"', block = true, desc = "Editor", for = "unix" },
	{ run = '%EDITOR% %*', block = true, desc = "Editor", for = "windows" },
]

[[plugin.prepend_fetchers]]
id = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
url = "*/"
run = "git"

[[plugin.prepend_previewers]]
url = "*/"
run = 'piper -- eza -TL=3 --color=always --icons=always --group-directories-first --no-quotes "$1"'
