# ====================
# Options
# ====================
theme = "catppuccin_mocha"

[editor]
mouse = false
line-number = "relative"
bufferline = "multiple"
cursorline = true
color-modes = false
default-line-ending = "lf"
end-of-line-diagnostics = "hint"
rainbow-brackets = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true
character = "│"
skip-levels = 0

[editor.statusline]
left = [
  "mode",
  "file-name",
  "read-only-indicator",
  "file-modification-indicator",
]
center = ["version-control"]
right = [
  "spinner",
  "spacer",
  "diagnostics",
  "selections",
  "file-encoding",
  "file-line-ending",
  "position",
  "spacer",
  "position-percentage",
  "spacer",
]

[editor.lsp]
display-inlay-hints = true

[editor.whitespace.render]
space = "all"
tab = "all"

[editor.whitespace.characters]
space = "·"
nbsp = "+"
newline = "⏎"
tab = "»"
tabpad = " "

[editor.inline-diagnostics]
cursor-line = "hint"

# ====================
# Keymaps
# ====================
[keys.normal]
C-q = ":bc"
"C-/" = ["toggle_comments", "move_line_down"]
H = "goto_previous_buffer"
L = "goto_next_buffer"
G = "goto_file_end"
x = "select_line_below"
X = "select_line_above"
q = "record_macro"
Q = ":format"
"@" = "replay_macro"
"{" = "goto_prev_paragraph"
"}" = "goto_next_paragraph"

[keys.normal.space]
b = "no_op"
"," = "buffer_picker"

[keys.insert]
"C-[" = "normal_mode"
"C-l" = "move_char_right"

[keys.insert.j]
j = "normal_mode"

[keys.select]
"C-[" = "normal_mode"
G = "extend_to_last_line"
i = "select_textobject_inner"
a = "select_textobject_around"
"{" = ["extend_to_line_bounds", "goto_prev_paragraph"]
"}" = ["extend_to_line_bounds", "goto_next_paragraph"]
