# ====================
# Go
# ====================
[[language]]
name = "go"
language-servers = ["gopls", "golangci-lint-lsp"]
auto-format = true
formatter = { command = "goimports" }

# ====================
# Lua
# ====================
[[language]]
name = "lua"
language-servers = ["emmylua-ls"]
roots = [".luarc.json", ".emmmyrc.json"]
auto-format = true
formatter = { command = "stylua", args = ["-"] }

[language-server.emmylua-ls]
command = "emmylua_ls"
args = []

# ====================
# Python
# ====================
[[language]]
name = "python"
language-servers = ["basedpyright", "ruff"]
auto-format = true

[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio"]

[language-server.basedpyright.config.basedpyright.analysis]
typeCheckingMode = "basic"

[language-server.ruff]
command = "ruff"
args = ["server"]

[language.formatter]
command = "ruff"
args = ["format", "-"]

# ====================
# Rust
# ====================
[[language]]
name = "rust"
language-servers = ["rust-analyzer"]

[language-server.rust-analyzer.config.check]
command = "clippy"

# ====================
# Steel
# ====================
[[language]]
name = "scheme"
language-servers = ["steel-language-server"]
formatter = { command = "raco", args = ["fmt", "-i"] }
auto-format = true

[language-server.steel-language-server]
command = "steel-language-server"
args = []

# ====================
# Nu-lsp
# ====================
[language-server.nu-lsp]
command = "nu"
args = ["--no-config-file", "--lsp"]
